/* ================================================= */
/* ---------------- Reset CSS ---------------------- */
/* ================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", New Century Schoolbook, TeX Gyre Schola, serif;
}
body {
  width: 100%;
  font-size: 16px;
}

/* ================================================= */
/* ---------------- Navbar ------------------------- */
/* ================================================= */

nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #000000;
  text-align: center;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.45);
}

nav .nav-link {
  text-decoration: none;
  display: inline-block;
  color: #ff7f00;
  font-weight: 600;
  outline: none;
}

nav .navbar-nav .nav-link.active {
  color: #ffffff;
  border-width: 0.125rem;
  border-color: #e4a61a;
  border-radius: 0.625rem;
}
nav .navbar-nav .nav-link:hover {
  color: #ffffff;
}

nav .navbar-nav .nav-link.active:hover {
  color: #ff7f00;
}

.logo {
  width: clamp(18rem, 19vw + 1rem, 24.3rem);
}

.logo-decoration {
  width: 10.6rem;
}

nav.navbar a {
  text-decoration: none;
  font-weight: 700;
}

nav.navbar a span {
  color: #dddddd;
  transition: color 0.3s ease;
}
nav.navbar a span:hover {
  color: #ffffff;
}

/* ================================================= */
/* -------------- Classes utilitaires -------------- */
/* ================================================= */

.mt-8 {
  margin-top: 6.4rem;
}
.mb-8 {
  margin-bottom: 6.4rem;
}
.my-8 {
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}
.mt-10 {
  margin-top: 8rem;
}
.mb-10 {
  margin-bottom: 8rem;
}
.my-10 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

/* ================================================= */
/* -------------- Page Accueil --------------------- */
/* ================================================= */

p {
  padding: 0;
}

h1 {
  color: #1c3144;
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(90deg, white, #ff7f00);
  border-radius: 0.375rem;
}

#accueil {
  position: relative;
  padding: 0.625rem 0 1.9rem 0;
  background: #ffffff;
}

#accueil .poker-player {
  position: relative;
  text-align: center;
  font-weight: 400;
  margin: 0 0 1.875rem 0;
  padding: 0;
  border-radius: 0.375rem;
  background-color: #353535;
}

#accueil .accueil-img,
#accueil .poker-player img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border-radius: 0.375rem;
  box-shadow: 0 0 9px rgba(70, 49, 10, 0.8);
}

#accueil .accueil-img {
  height: 36.25rem;
  width: calc(100% - 4rem);
  object-fit: cover;
  object-position: top;
}
.container-1 {
  width: 100%;
}
.container-1 img {
  max-height: 28.125rem;
  width: auto;
  object-fit: cover;
}

/* ================================================= */
/* -------------- Page Apprendre à jouer ----------- */
/* ================================================= */

#evenements .evenements-img,
#appJouer .appJouer-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 0.375rem;
  box-shadow: 0 0 9px rgba(70, 49, 10, 0.8);
}

/* ================================================= */
/* -------------- Page Evènements ------------------ */
/* ================================================= */

#evenements .evenements-img {
  object-fit: cover;
  object-position: top;
  border-radius: 0.375rem;
  box-shadow: 0 0 9px rgba(70, 49, 10, 0.8);
}

/* ================================================= */
/* --------------Formulaire de contact-------------- */
/* ================================================= */
.formulaire {
  background-color: white;
  display: flex;
  justify-content: center;
}

.contactez-nous {
  max-width: 43.75rem;
}

.contactez-nous > h1 {
  font-weight: 500;
}

.contactez-nous > p {
  font-weight: 400;
}
form {
  background-color: rgb(24, 24, 24);
  border-radius: 0.375rem;
  padding: 0.94rem 50px;
}

form div {
  display: flex;
  flex-direction: column;
  min-height: 5.18rem;
  margin-top: 1.6rem;
}

form div > label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: rgb(184, 184, 184);
}


form div > select option {
  background-color: #ff7f00;
  color: black;
}

form .wrapper-btn {
  align-items: center;
  margin-top: 1.25rem;
}

form button {
  padding: 0.75rem 1.2rem;
  font-weight: 500;
  background-color: #ff7f00;
  border: rgba(48.48.48.05) solid 1px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: white;
  transition: background-color 0.3s ease;
}
form button:hover {
  background-color: #f69e47;
}

/* ================================================= */
/* --------------Section Contact ------------------- */
/* ================================================= */

#contact {
  position: relative;
  padding: 3.125rem 0 3.75rem 0;
  background: #fff;
}
#contact .contact-detail .col-md-6:first-child,
#contact .contact-detail .col-md-6:last-child {
  padding: 0 0.94rem;
}
#contact .contact-col-1,
#contact .contact-col-2 {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1.875rem 0.94rem;
  text-align: center;
  border-radius: 0.375rem;
}
#contact .contact-col-1 {
  background-color: #161616;
  color: #ccc;
  border-radius: 0.375rem 0.375rem 0 0;
}
#contact .contact-col-2 {
  background-color: #ff80004e;
  border-radius: 0 0 0.375rem 0.375rem;
}

/* ================================================= */
/* ---------------- Footer ------------------------- */
/* ================================================= */

#footer {
  position: relative;
  background: #000000;
  padding: 1.875rem 0 0.625rem;
}
#footer .col-md-6 {
  border-right: none;
}
#footer .col-md-6:last-child {
  border-right: none;
}
#footer .copyright {
  margin-bottom: 1.875rem;
  text-align: center;
}
#footer .copyright p {
  color: #dfd8da;
  margin-bottom: 0.625rem;
}
#footer .copyright p:last-child {
  margin-bottom: 0;
}
#footer .copyright a {
  font-weight: 600;
  color: #dfd8da;
}
#footer .copyright a:hover {
  color: #ffffff;
}
#footer .icon {
  position: relative;
}
#footer .icon li {
  display: inline-block;
}
#footer .icon li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  margin-right: 0.5rem;
  text-decoration: none;
  border-radius: 1.25rem;
  color: #ffffff;
  background-color: #ff7f00;
  transition: color 0.3s ease, background-color 0.3s ease;
}
#footer .icon li a:hover {
  color: #ff7f00;
  background-color: #ffffff;
}
#footer .footer-chips {
  display: inline-block;
  max-width: clamp(20rem, 25vw + 1rem, 34.4rem);
}
.info-addiction {
  color: #ff7f00;
}

#footer .footer-bottom {
  font-size: 0.8rem;
}
#footer .footer-bottom,
#footer .footer-bottom a {
  margin-top: 1.5rem;
  color: #dfd8da;
}
#footer .footer-bottom a {
  color: #ff7f00;
}
#footer .footer-bottom a:hover {
  color: #e4a61a;
}

/* ================================================= */
/* ---------------- SECTION LEFT / RIGHT ----------- */
/* ================================================= */

.section-right,
.section-left {
  grid-template-columns: 1fr;
  display: grid;
  grid-template-areas:
    "title"
    "image"
    "para";
}

.section-left h2,
.section-left h3,
.section-right h2,
.section-right h3 {
  grid-area: title;
}

.section-right .wrapper-img,
.section-left .wrapper-img {
  grid-area: image;
}
.section-right .para,
.section-left .para {
  grid-area: para;
}

/* ================================================= */
/* ---------------- MEDIA QUERY -------------------- */
/* ================================================= */

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 768px) {
  #footer .col-md-6 {
    border-right: 1px dotted #e4a61a;
  }
  #footer .copyright,
  #footer .wrapper-social-links {
    text-align: left;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  #footer .icon {
    text-align: right;
  }
}
@media screen and (max-width: 990px) {
  nav button.navbar-toggler {
    background-color: rgb(36, 36, 36);
    background-color: #ff7f00;
  }
}

@media screen and (min-width: 992px) {
  .section-right,
  .section-left {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-right {
    display: grid;
    grid-template-areas:
      "image title"
      "image para";
  }
  .section-left {
    display: grid;
    grid-template-areas:
      "title image"
      "para image";
  }
}

@media screen and (min-width: 767.98px) {
  #contact .contact-detail .col-md-6:first-child,
  #contact .contact-detail .col-md-6:last-child {
    padding-right: 0;
    margin-bottom: 1.875rem;
  }
  #contact .contact-col-1 {
    border-radius: 0.375rem 0 0 0.375rem;
  }
  #contact .contact-col-2 {
    border-radius: 0 0.375rem 0.375rem 0;
  }
}

@media screen and (min-width: 992px) {
  .section-right,
  .section-left {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-right {
    display: grid;
    grid-template-areas:
      "image title"
      "image para";
  }
  .section-left {
    display: grid;
    grid-template-areas:
      "title image"
      "para image";
  }
}

@media screen and (min-width: 650px) {
  evenements .evenements-img {
    width: auto;
  }
}

@media screen and (min-width: 650px) {
  #appJouer .appJouer-img.first-round-img,
  #appJouer .appJouer-img.flop-img,
  #appJouer .appJouer-img.turn-img {
    max-height: 15.625rem;
  }
  #appJouer .appJouer-img.poker-rules-img {
    max-height: 17.5rem;
  }
}

@media screen and (min-width: 650px) {
  evenements .evenements-img {
    width: auto;
  }
}